doctype html
html
  head
    title WebMap
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vendor/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/vendor/leaflet.draw.css')
    link(rel='stylesheet', href='/stylesheets/vendor/Control.MiniMap.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap-datepicker3.min.css')

  body
    #wrapper
      #top-bar
        // TOP BAR NAVIGATION
        nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
          .container-fluid
            .navbar-header
              a.navbar-brand WebMap
              button.navbar-toggle(type="button", data-toggle="collapse", data-target=".sidebar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          .collapse.navbar-collapse
            .nav.navbar-nav
          // SIDE NAVIGATION
          .collapse.navbar-collapse.sidebar-collapse
            ul.nav.navbar-nav.side-nav
              li
                a#gps.bad-gps(href='javascript:;', data-toggle='collapse', data-target='#gps-settings')
                  <span class="glyphicon glyphicon-globe" aria-hidden="true">&nbsp;</span>
                  i.fa.fa-fw.fa-arrows-v
                  |   GPS
                  i.fa.fa-fw.fa-caret-down
                ul#gps-settings.collapse
                  li
                    ul
                      li
                        select#port-select
                          option
                          if ports
                            each port in ports
                              option=port.comName

              //
                li#show-bts
                  a(href='#') Show BTS
              li#follow-plane
                a#fptext(href='#') <span class="glyphicon glyphicon-plane" aria-hidden="true">&nbsp;</span> Follow Plane
              li#remove-layers
                a(href='#') <span class="glyphicon glyphicon-trash" aria-hidden="true">&nbsp;</span> Remove Layers
              li
                a(href='javascript:;', data-toggle='collapse', data-target='#center')
                  <span class="glyphicon glyphicon-screenshot" aria-hidden="true">&nbsp;</span>
                  i.fa.fa-fw.fa-arrows-v
                  |  Center Location
                  i.fa.fa-fw.fa-caret-down
                ul#center.collapse
                  li
                    ul
                      li
                        input#center-lat.coordinates(placeholder="Latitude")
                      li
                        input#center-lon.coordinates(placeholder="Longitude")
                      li
                        button.btn.btn-info.navbar-btn.btn-sm.coordinates#center-location Center
              li
                a(href='javascript:;', data-toggle='collapse', data-target='#drop-marker')
                  <span class="glyphicon glyphicon-pushpin" aria-hidden="true">&nbsp;</span>
                  i.fa.fa-fw.fa-arrows-v
                  |  Drop Marker
                  i.fa.fa-fw.fa-caret-down
                ul#drop-marker.collapse
                  li
                    ul
                      li
                        input#marker-lat.coordinates(placeholder="Latitude")
                      li
                        input#marker-lon.coordinates(placeholder="Longitude")
                      li
                        button.btn.btn-info.navbar-btn.btn-sm.coordinates#marker-location Drop
              li
                a(href='javascript:;', data-toggle='collapse', data-target='#download-gps')
                  <span class="glyphicon glyphicon-download" aria-hidden="true">&nbsp;</span>
                  i.fa.fa-fw.fa-arrows-v
                  |  Download GPS
                  i.fa.fa-fw.fa-caret-down
                ul#download-gps.collapse
                  #sandbox-container
                    input#datepicker.form-control(type="text")
              li
                a(href='javascript:;', data-toggle='collapse', data-target='#tile-select')
                  <span class="glyphicon glyphicon-picture" aria-hidden="true">&nbsp;</span>
                  i.fa.fa-fw.fa-arrows-v
                  |  Tile Select
                  i.fa.fa-fw.fa-caret-down
                ul#tile-select.collapse
                  form
                    input#basic(type="radio", name="tile-type", value="basic")
                    |  Basic
                    br
                    input#satellite(type="radio", name="tile-type", value="satellite")
                    |  Satellite
    block content

    script(src='/javascripts/vendor/jquery.min.js')
    script(src='/javascripts/vendor/placeholder.js')
    script(src='/javascripts/vendor/fastclick.js')
    script(src='/javascripts/vendor/modernizr.js')
    script(src='/javascripts/vendor/bootstrap.js')
    script(src='/javascripts/vendor/bootstrap-datepicker.min.js')
    script(src='/javascripts/vendor/leaflet.js')
    script(src='/javascripts/vendor/leaflet.draw.js')
    script(src='/javascripts/vendor/Control.MiniMap.min.js')
    script(src='/javascripts/vendor/rotatedmarker.js')
    script(src='/javascripts/vendor/numeral.min.js')
    script(src='/javascripts/vendor/socket.io.js')
    script(src='/javascripts/source/map.js')
