doctype html
html
  head
    title WebMap
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vendor/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/vendor/leaflet.draw.css')
    
  body
    #wrapper
      #top-bar
        // TOP BAR NAVIGATION
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
          .container-fluid
            .navbar-header
              a.navbar-brand WebMap
              button.navbar-toggle(type="button", data-toggle="collapse", data-target=".sidebar-collapse")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
          .collapse.navbar-collapse
            .nav.navbar-nav
          // SIDE NAVIGATION
          .collapse.navbar-collapse.sidebar-collapse
            ul.nav.navbar-nav.side-nav
              li
                a#gps.bad-gps(href='javascript:;', data-toggle='collapse', data-target='#gps-settings')
                  i.fa.fa-fw.fa-arrows-v
                  |   GPS 
                  i.fa.fa-fw.fa-caret-down
                ul#gps-settings.collapse
                  li
                    ul
                      li
                        select#port-select
                          option
                          if ports
                            each port in ports
                              option=port.comName
                          
              //
                li#show-bts
                  a(href='#') Show BTS
              li#follow-plane
                a(href='#') Follow Plane
              li#remove-layers
                a(href='#') Remove Layers
              li
                a(href='javascript:;', data-toggle='collapse', data-target='#center')
                  i.fa.fa-fw.fa-arrows-v
                  |  Center Location
                  i.fa.fa-fw.fa-caret-down
                ul#center.collapse
                  li
                    ul
                      li
                        input#center-lat.coordinates(placeholder="Latitude")
                      li
                        input#center-lon.coordinates(placeholder="Longitude")
                      li
                        button.btn.btn-info.navbar-btn.coordinates#center-location Center
              li
                a(href='javascript:;', data-toggle='collapse', data-target='#drop-marker')
                  i.fa.fa-fw.fa-arrows-v
                  |  Drop Marker
                  i.fa.fa-fw.fa-caret-down
                ul#drop-marker.collapse
                  li
                    ul
                      li
                        input#marker-lat.coordinates(placeholder="Latitude")
                      li
                        input#marker-lon.coordinates(placeholder="Longitude")
                      li
                        button.btn.btn-info.navbar-btn.coordinates#marker-location Drop
                    
        
    block content
  
    script(src='/javascripts/vendor/jquery.min.js')
    script(src='/javascripts/vendor/modernizr.js')
    script(src='/javascripts/vendor/placeholder.js')
    script(src='/javascripts/vendor/fastclick.js')
    script(src='/javascripts/vendor/bootstrap.js')
    script(src='/javascripts/vendor/leaflet.js')
    script(src='/javascripts/vendor/leaflet.draw.js')
    script(src='/javascripts/vendor/rotatedmarker.js')
    script(src='/javascripts/vendor/numeral.min.js')
    script(src='/javascripts/vendor/socket.io.js')
    script(src='/javascripts/map.js')
