doctype html
html
  head
    title BTS Map
    link(rel='stylesheet', href='/stylesheets/vendor/normalize.css')
    link(rel='stylesheet', href='/stylesheets/vendor/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/vendor/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    nav.top-bar(data-topbar, role='navigation')
        ul.title-area
          li.name
            h1
              a#title(href='/') BTS Map
          // Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
          li.toggle-topbar.menu-icon
            a(href='#')
              span Menu
        section.top-bar-section
          // Right Nav Section
          ul.right
            li.active
              a#coordinates-label(href='#')
            li.active
              a#bts-number
            li.has-dropdown
              a(href='#') Map Options
              ul.dropdown
                li
                  a(href='#')
                li#show-bts
                  a(href='#') Show BTS
                li
                  a(href="#", data-reveal-id="myModal") TEST
          // Left Nav Section
          ul.left
            li
              input#center-lat.coordinates(placeholder="Latitude")
              input#center-lon.coordinates(placeholder="Longitude")
            li
              a#center-location.button.small.round(href='#') Center
      .row
        .medium-4.columns
          #myModal.reveal-modal(data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog")    
            form(action='/filter', method='post')
              fieldset
                legend BTS Filter Options
                .row
                  .small-8.columns.center
                    label Radio
                    select(name="radio")
                      option None
                      option GSM
                      option CDMA
                      option UTMS        
                    label MCC
                    input(type="text", name="mcc")
                    label Net
                    input(type="text", name="net")
                    label Cell ID
                    input(type="text", name="cell")
                    button.small.round Filter
            a.close-reveal-modal(aria-label="Close") &#215

    block content
  
  script(src='/javascripts/vendor/jquery.min.js')
  script(src='/javascripts/vendor/modernizr.js')
  script(src='/javascripts/vendor/placeholder.js')
  script(src='/javascripts/vendor/fastclick.js')
  script(src='/javascripts/vendor/foundation.min.js')
  script(src='/javascripts/vendor/leaflet.js')
  script(src='/javascripts/vendor/numeral.min.js')
  script(src='/javascripts/map.js')
