@import url(http://fonts.googleapis.com/css?family=Ubuntu);
$lightBlue: #1986FF;
$mediumBlue: #0078FF;
$darkBlue: #0054B2;
$tan: #FFEECF;
$brown: #B27200;

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  }

h1,h2,h3,h4,h5,p,body,a {
  font-family: 'Ubuntu', serif;
}

a {
  color: $lightBlue;
}

div {
  display: block;
}

table {
  margin: 10px 0;
  thead{
    color: $tan;
  }
  tbody{
    color: $tan;
  }
  button{
    background: $brown;
  }
}

#map {
  position: static;
  height: 70%;
}

#top-bar {
  height: 50px;
}

#cursor-location{
  color: red;
  font-weight: bold;
  font-size: 16px;
  z-index: 3;
  position: fixed;
  bottom: 25px;
}

#center-location, #marker-location {
  width: 100%;
}

#plane-location {
  bottom: 25px;
  right: 50px;
  color: red;
  font-weight: bold;
  font-size: 16px;
  z-index: 3;
  position: fixed;
}

#chat-window {
  position: relative;
  bottom: 0;
  height: 30%;
  background-color: white;
  border: 1px solid black;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

@media(max-width:768px) {
  #cursor-location {
    right: 50px;
    bottom: 50px;
  }

  #chat-window {
    left: 0;
  }
}

@media(min-width:768px) {
  #map {
    left: 175px;
  }

  #wrapper {
      padding-left: 175px;
  }

  #page-wrapper {
    margin-top: 75px;
    width: 100%;
    display: block;
  }

  #cursor-location {
    left: 200px;
  }

  #chat-window {
    left: 175px;
  }

  .good-gps {
    background-color: green;
  }

  .bad-gps {
    background-color: red;
  }

  .side-nav {
    position: fixed;
    top: 50px;
    left: 175px;
    width: 175px;
    margin-left: -175px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    opacity: .55;

    li {
      width: 175px;
      a:hover,
      a:focus {
        outline: none;
        background-color: #101010 !important;
        }
      }

      ul {
        padding: 0;
        li {
          a {
            display: block;
            padding: 10px 15px 10px 38px;
            text-decoration: none;
          }
      }
    }
  }
}
