@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; }

h1, h2, h3, h4, h5, p, body, a {
  font-family: 'Ubuntu', serif; }

a {
  color: #1986FF; }

div {
  display: block; }

table {
  margin: 10px 0; }
  table thead {
    color: #FFEECF; }
  table tbody {
    color: #FFEECF; }
  table button {
    background: #B27200; }

#map {
  position: static;
  height: 100%;
  left: 175px; }

#top-bar {
  height: 50px; }

#cursor-location {
  color: red;
  font-weight: bold;
  font-size: 16px;
  z-index: 3;
  position: fixed;
  bottom: 25px;
  left: 200px; }

#center-location, #marker-location {
  margin-left: 10px; }

#plane-location {
  bottom: 25px;
  right: 50px;
  color: red;
  font-weight: bold;
  font-size: 16px;
  z-index: 3;
  position: fixed; }

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

@media (min-width: 768px) {
  #wrapper {
    padding-left: 175px; }
  #page-wrapper {
    margin-top: 75px;
    width: 100%;
    display: block; }
  .good-gps {
    background-color: green; }
  .bad-gps {
    background-color: red; }
  .side-nav {
    position: fixed;
    top: 50px;
    left: 175px;
    width: 175px;
    margin-left: -175px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    opacity: .55; }
    .side-nav li {
      width: 175px; }
      .side-nav li a:hover,
      .side-nav li a:focus {
        outline: none;
        background-color: #101010 !important; }
    .side-nav ul {
      padding: 0; }
      .side-nav ul li a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none; } }
